<% if logged_in? %>
  <h1>Leave?! :(</h1>
  <p>Are you really 100% sure that you want to leave this beautiful website?</p>
  <p>Think about the children!</p>
  <p>What will your mother think of you?</p>
  <p>You'll miss out on all the free publicity!</p>
  <p>You'll miss out on being vilified on the internet!</p>
  <p>You'll miss out on the unending fun!</p>
  <p>You'll fade into the abyss!</p>
  <%= link_to "Delete Account", current_user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% else %>
  <%= render 'noperm' %>
<% end %>