<h1>User Profile for "<%= @user.username %>"</h1>

<p>Account Type: <%= @user.type %></p>

Blog Posts:
<% if @user.blog_posts.present? %>
  <%= render @user.blog_posts %>
<% else %>
  No blog posts written!
<% end %>
<div class="bottom-link"><%= link_to "<- Home", root_path %></div>